{{#if this}}
    <div class="block-title">CAR DETAILS</div>

    <div class="card-radius-0 card">
        <div class="card-content">
            <div class="list">
                <ul>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <b>
                                    {{ brand }}
                                </b>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <b>
                                    {{ model }}
                                </b>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <b>
                                    {{ registration_number }}
                                </b>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <b>
                                    CLASS {{ car_class }}
                                </b>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <b>
                                    {{ weight }}
                                </b>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <b>
                                    {{ fuel_type }}
                                </b>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{/if}}