`   {{#if this}}
    <div class="block-title">
        BASIC DETAILS
    </div>
    <div class="card-radius-0 card">
        <div class="card-content">
            <div class="list">
                <ul>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-calendar-o"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <!--Started -->{{ time.when }}
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-times-circle-o"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <!--Started -->{{journeyFinished journey.finished }}
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-map"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <!--Distance: -->{{ journey.distance }}
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-clock-o"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <!--Duration: -->{{ journey.duration }}
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                {{ car.model }}
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-car"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                {{ car.reg_number }}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="block-title">
        DEPARTURE
    </div>
    <div class="card-radius-0 card">
        <div class="card-content">
            <div class="list">
                <ul>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-map-marker"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="pt10">
                                <p>
                                    {{ departure.venue }}
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-map-marker"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                {{ departure.coordinates }}
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-clock-o"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <div class="chip">
                                    <div class="chip-media bg-color-blue">
                                        <i class="icon f7-icons ios-only color-white">stopwatch</i>
                                    </div>
                                    <div class="chip-label">
                                        {{ time.start.time }}
                                    </div>
                                </div>
                                <div class="chip">
                                    <div class="chip-media bg-color-blue">
                                        <i class="icon f7-icons ios-only color-white">calendar</i>
                                    </div>
                                    <div class="chip-label">
                                        {{ time.start.date }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="block-title">
        ARRIVAL
    </div>
    <div class="card-radius-0 card">
        <div class="card-content">
            <div class="list">
                <ul>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-map-marker"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="pt10">
                                <p>
                                    {{ destination.venue }}
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-map-marker"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                {{ destination.coordinates }}
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-clock-o"></i></div>
                        <div class="item-inner item-colors-details">
                            <div class="item-title">
                                <div class="chip">
                                    <div class="chip-media bg-color-blue">
                                        <i class="icon f7-icons ios-only color-white">stopwatch</i>
                                        <i class="icon material-icons md-only">location_on</i>
                                    </div>
                                    <div class="chip-label">
                                        {{ time.finish.time }}
                                    </div>
                                </div>
                                <div class="chip">
                                    <div class="chip-media bg-color-blue">
                                        <i class="icon f7-icons ios-only color-white">calendar</i>
                                        <i class="icon material-icons md-only">location_on</i>
                                    </div>
                                    <div class="chip-label">
                                        {{ time.finish.date }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="list inset">
        <ul class="inset">
            <li>
                <a href="/map"
                   class="item-link list-button"
                   id="mapLink">
                    VIEW MAP
                </a>
            </li>
<!--            <li>
                <a href="/tollhistory/{{ id }}"
                   class="item-link list-button"
                   id="tollLink">
                    TOLL HISTORY
                </a>
            </li>-->
        </ul>
    </div>
{{/if}}