{{#if this}}
    <div class="block-title">
        {{ data.name }}
    </div>
    <div class="card">
        <div class="card-content card-content-padding">
            <div class="row">
                <div class="col-35">
                    <div class="chip">
                        <div class="chip-media bg-color-theme">
                            <i class="icon f7-icons ios-only color-white">arrow_right</i>
                        </div>
                        <div class="chip-label">
                            Type
                        </div>
                    </div>
                </div>
                <div class="col-65">
                    <div class="answer">
                        Abiri Taxi Rank
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <div class="chip">
                        <div class="chip-media bg-color-theme">
                            <i class="icon f7-icons ios-only color-white">arrow_right</i>
                        </div>
                        <div class="chip-label">
                            Name
                        </div>
                    </div>
                </div>
                <div class="col-65">
                    <div class="answer">
                        {{ data.name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <div class="chip">
                        <div class="chip-media bg-color-theme">
                            <i class="icon f7-icons ios-only color-white">arrow_right</i>
                        </div>
                        <div class="chip-label">
                            Coordinates
                        </div>
                    </div>
                </div>
                <div class="col-65">
                    <div class="answer">
                        {{ data.coordinates }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <div class="chip">
                        <div class="chip-media bg-color-theme">
                            <i class="icon f7-icons ios-only color-white">arrow_right</i>
                        </div>
                        <div class="chip-label">
                            Items
                        </div>
                    </div>
                </div>
                <div class="col-65">
                    <div class="answer">
                        {{ data.items }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            DESCRIPTION
        </div>
        {{#compare data.details.length "==" 0}}
            <div class="card-content card-content-padding">
                Nothing has been added here as yet
            </div>
        {{/compare}}
        <div class="card-content card-content-padding">
            <div class="list">
                <ul>
                    {{#each data.details}}
                        <li class="item-content">
                            <div class="item-media"><i class="fa fa-map-marker"></i></div>
                            <div class="item-inner item-colors-details">
                                <div class="pt10">
                                    <p>
                                        <a href="#">
                                            {{ this }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
{{/if}}