{{#if this}}
    <div class="block-title">
        MY CONVOYS
    </div>
    {{#each this}}
        <div class="card car {{#isPast date}}{{/isPast}}">
            <div class="card-content card-content-padding">
                <div class="list">
                    <ul>
                        <li>
                            <a href="/convoy/{{ id.convoy }}/{{ id.invite }}" class="item-link">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="icon f7-icons">persons</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <!-- Item header, must be first child of item-title -->
                                            <div class="item-header">
                                                {{ destination }}
                                            </div>
                                            <em id="bluetext">{{ date }}</em>
                                            <!-- Item footer, must be last child of item-title -->
                                            <div class="item-footer">
                                                {{ initiator.full_name }} {{#isYou initiator.id}}{{/isYou}}
                                            </div>
                                        </div>
                                        <div class="item-after">
                                            <span class="badge {{#stateColor state.invite}}{{/stateColor}}">
                                                <small>
                                                    {{#shortInvite state.invite}}{{/shortInvite}}
                                                </small>
                                            </span>
                                            <span class="badge {{#convoyState state.convoy}}{{/convoyState}}">
                                                {{#convoyInitial state.convoy}}{{/convoyInitial}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {{/each}}
    <div id="moreConvoys">

    </div>
    {{#compare this.length '===' 0}}
        <div class="card-radius-0 card">
            <div class="card-content">
                <div class="list">
                    <ul>
                        <li class="item-content">
                            <div class="item-media"><i class="fa fa-times"></i></div>
                            <div class="item-inner item-colors-details">
                                <div class="item-titles">
                                    <b>
                                        <a href="/addconvoy">
                                            You are not associated with any convoy as yet, wanna create one ?
                                        </a>
                                    </b>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {{/compare}}

    <div class="row">
        <div class="col"></div>
        <button class="col button button-fill" id="loadMoreConvoys">
            MORE
        </button>
        <div class="col"></div>
    </div>
{{/if}}